<p>ADMIN</p>

<div ng-controller="AdminController">								
	<div ng-if="isMocking() == false">
	 	<div class="form-group">
			<div  class="row">
				<div class="col-md-3">
					<div>
						<label>Assume User</label>
						<input type="netid" class="form-control input-lg" id="netid" placeholder="Enter netid" ng-model="assume.netid" ng-pattern="word" ng-trim="false" />		
					</div>
					<div>
						<button type="submit" class="btn btn-default" ng-click="assumeUser(assume)">{{assumeBtn}}</button>
						{{assumeStatus}}
					</div>
				</div>
			</div>
		</div>
	</div>
</div>								