<p>DOCUMENTS</p>

<div class="container-fluid" ng-controller="AnnotateController">
	<div class="col-6 col-lg-6">		
			<div class="container">
				<h3>Document</h3>
				<textarea rows="25" cols="60">
					{{document.text}}
				</textarea>
			</div>
		
	</div>
	<div class="col-4 col-lg-4">
		<div class="row">		
				<div class="container">
					<h3>Abstract</h3>
					<input type="text"/>
				</div>
		</div>
		<div class="row">		
				<div class="container">
					<h3>Committee members</h3>
					<input type="text"/>
				</div>
		</div>
		
	</div>
</div>


	