<p>DOCUMENTS</p>

<div class="row">
	<div class="col-9 col-lg-9">
		<div class="panel panel-default " ng-controller="DocumentController">			
			<div class="panel-heading">
				<h3 class="panel-title">Documents</h3>
			</div>
			<div class="panel-body">
				<table class="table table-hover table-condensed">
					<thead>
						<tr>
							<th>FileName</th>
							<th>Status</th>
							<th>Annotate Document</th>
							<th>Annotator</th>
						</tr>
					</thead>
					<tbody>
					
						<tr ng-if="isAnnotator()" ng-repeat="doc in documents.list track by doc.filename">
							<td ng-if="doc.status == 'Unassigned'">{{doc.filename}}</td>
							<td ng-if="doc.status == 'Unassigned'">{{doc.status}}</td>							
							<td ng-if="!doc.annotator && doc.status == 'Unassigned'">
								<button ng-click="updateAnnotator(doc.filename)">
									Claim
								</button>
							</td>
							<td ng-if="doc.annotator && doc.status == 'Unassigned'">{{doc.annotator}}</td>
						</tr>
						
						<tr ng-if="isAdmin() || isManager()" ng-repeat="doc in documents.list track by doc.filename">
							<td>{{doc.filename}}</td>
							<td>{{doc.status}}</td>
							<td><a href="annotate/{{doc.filename}}">Annotate</a></td>
							<td ng-if="!doc.annotator && availableAnnotators().length > 0">							
								<select ng-model="doc.annotator" ng-change="updateAnnotator(doc.filename, doc.annotator)" >
									<option ng-repeat="annotator in availableAnnotators()">{{annotator}}</option>
								</select>
							</td>
							<td ng-if="!doc.annotator && availableAnnotators().length == 0">
								No Annotators
							</td>
							
							<td ng-if="doc.annotator">{{doc.annotator}}</td>
						</tr>
						
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>
