<p>USERS</p>

<div class="row">
	<div class="col-9 col-lg-9">
		<div class="panel panel-default " ng-controller="AdminController">			
			<div class="panel-heading">
				<h3 class="panel-title">Users</h3>
			</div>
			<div class="panel-body">
				<table class="table table-hover table-condensed">
					<thead>
						<tr>
							<th>UIN</th>
							<th>FirstName</th>
							<th>LastName</th>
							<th>Role</th>
							<th>Change Role To</th>
							<th ng-if="(isAdmin() || isManager())">Assignments</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="user in userRepo.list track by user.uin">
							<td>{{user.uin}}</td>
							<td>{{user.firstName}}</td>
							<td>{{user.lastName}}</td>
							<td>{{user.role}}</td>
							<td>
								<select ng-if="(isAdmin() || isManager())" ng-model="user.role" ng-change="updateRole(user.uin, user.role)" >
									<option ng-repeat="role in allowableRoles(user.role)">{{role}}</option>
								</select>
							</td>
							<td ng-if="(isAdmin() || isManager())">
								<button ng-if="user.role == 'ROLE_ANNOTATOR' || user.role == 'ROLE_MANAGER'" ng-click="showAssignmentsModal(user)">
									View Assignments
								</button>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
			
			<modal id="assignmentsModal" title="Assigned Documents" visible="showModal" style="display:none;">
				<div class="row">
					<div class="col-9 col-lg-9">
						<div class="panel panel-default " ng-controller="DocumentController">			
							<div class="panel-heading">
								<h3 class="panel-title">Documents Assigned to {{selectedUser.firstName}} {{selectedUser.lastName}}</h3>
							</div>
							<div class="panel-body">
								<table class="table table-hover table-condensed">
									<thead>
										<tr>
											<th>FileName</th>
											<th>Status</th>
											<th>Unnassign</th>
										</tr>
									</thead>
									<tbody>
									
										<tr ng-if="isAdmin() || isManager()" ng-repeat="doc in documents.list track by doc.filename">
											<td ng-if="doc.annotator == selectedUser.uin">{{doc.filename}}</td>
											<td ng-if="doc.annotator == selectedUser.uin">{{doc.status}}</td>	
											<td ng-if="doc.annotator == selectedUser.uin">
												<button ng-click="updateAnnotator(doc.filename, 'Unassigned', selectedUser.uin)">
													Unassign
												</button>
											</td>									
										</tr>
										
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
			</modal>
			
		</div>
	</div>
</div>
	