<ng-include src="'views/input/text.html'"></ng-include>

<div class="suggestions-expand"><a href ng-click="showSuggestions = !showSuggestions">
    <span>Suggestions ({{ suggestionsStatus(suggestions) }})</span>
</a></div>

<div class="suggestions-section col-sm-11" ng-class="{'suggestions-open': showSuggestions, 'suggestions-closed': !showSuggestions}">
    <div ng-if="hasSuggestions(suggestions)" class="list-group">
        <a class="list-group-item" ng-repeat="suggestion in suggestions | selected:field.values" href ng-click="addSuggestion(field, suggestion)">
            <span
              class="badge suggestion-popup"
              popover-title="{{getPopoverTitle(suggestion)}}"
              popover-placement="left"
              uib-popover-template="'views/input/suggestion-hover.html'"
              popover-is-open="show"
              ng-mouseenter="show = true"
              ng-mouseleave="show = false">
                {{ suggestion.occurrences }}
            </span>
            {{ suggestion.value }}
        </a>
    </div>
    <span ng-if="!hasSuggestions(suggestions)">No suggestions available!</span>
</div>
