<ng-include src="'views/input/text.html'"></ng-include>

<div class="suggestions-expand"><a href ng-click="showSuggestions = !showSuggestions">Suggestions</a></div>

<div class="suggestions-section col-sm-12" ng-class="{'suggestions-open': showSuggestions, 'suggestions-closed': !showSuggestions}">
    <div ng-if="suggestions" class="list-group">
        <a class="list-group-item" ng-repeat="suggestion in suggestions | selected:field.values" href ng-click="addSuggestion(field, suggestion)">
            <span class="badge">{{suggestion.occurrences}}</span>
            {{suggestion.value}}
        </a>
    </div>
    <span ng-if="!suggestions">No suggestions available!</span>
</div>
