<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" class="no-js"> <!--<![endif]-->
<head>
	<base href="/metadatatool/">
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Metadata Tool :: Texas A&amp;M Libraries</title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="shortcut icon" href="resources/images/favicon.ico" type="image/x-icon" />

	<link rel="stylesheet" href="bower_components/html5-boilerplate/css/normalize.css">
	<link rel="stylesheet" href="bower_components/html5-boilerplate/css/main.css">
	
	<link rel="stylesheet" href="bower_components/ng-table/dist/ng-table.css">
	<link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">

	<link rel="stylesheet" href="resources/styles/app.css">
	<link rel="stylesheet" href="resources/styles/main.css">

	<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300' rel='stylesheet' type='text/css'>

	<script src="bower_components/html5-boilerplate/js/vendor/modernizr-2.6.2.min.js"></script>
	
</head>
<body>
	<!--[if lt IE 7]>
    	<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
	<![endif]-->

	<!-- Content placed here will appear on every page -->
	
	<div ng-controller="AdminController">
	
		<a ng-show="isAdmin()" ng-if="isMocking()==false" href="admin">Admin</a>
		
		<button ng-if="assumeBtn == 'Unassume'" type="submit" class="btn btn-default" ng-click="assumeUser(assume)">{{assumeBtn}}</button>

		<h1> Welcome: <username></username> </h1>
		
		<a href="home">Home</a> |

		<a href="myview">My View</a> |

		<a href="documents">Documents</a> |
		
		<a href="assignments">My Assigned Documents</a>

		<span ng-if="(isAdmin() || isManager()) == true">
			| <a href="users" >Users</a> |
		
			<button type="button" ng-csv="exportMetadata()" csv-header="['Id', 'Filename', 'Type', 'Value', 'Index', 'Repeatable']" filename="metadata.csv" class="btn btn-default">Export Metadata</button>
			
		</span>
		
	</div>

	<!--<object data="resources/ISAACRiskAssessment2014.pdf" type="application/pdf" width="600" height="400"></object>-->
	
	<div ng-view></div>

	<footer>
		MetadataTool Version: <span app-version></span>
	</footer>


	<!-- In production use: <script src="//ajax.googleapis.com/ajax/libs/angularjs/x.x.x/angular.min.js"></script> -->

	
	<!-- Bower component -->
	<script src="bower_components/jquery/dist/jquery.js"></script>
	<script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
		
	<script src="bower_components/angular/angular.js"></script>
	<script src="bower_components/angular-route/angular-route.js"></script>
	<script src="bower_components/angular-loader/angular-loader.js"></script>
	<script src="bower_components/angular-mocks/angular-mocks.js"></script>
	
	<script src="bower_components/ng-table/dist/ng-table.min.js"></script>
	
	<script src="bower_components/ng-csv/build/ng-csv.min.js"></script>
	
	<script src="bower_components/angular-sanitize/angular-sanitize.min.js"></script>

	<!-- Modules -->
	<script src="components/version/version.js"></script>
	<script src="components/version/version-directive.js"></script>
	<script src="components/version/interpolate-filter.js"></script>
	
	
	<!-- build:js resources/scripts/vendor_concat.js -->
	<!--  Vendor libraries -->
	<script src="resources/scripts/vendor/stomp.js"></script>
	<script src="resources/scripts/vendor/sockjs-0.3.4.js"></script>

	<!-- endbuild -->
	

	<!-- build:js resources/scripts/app_concat.js -->
	
    <!-- Configuration -->
    <script src="config/appConfig.js"></script>

    <!-- Application Start -->
    <script src="setup.js"></script>
    <script src="app.js"></script>
    <script src="config/logging.js"></script>
    <script src="config/runTime.js"></script>
    <script src="config/routes.js"></script>

    <!-- Directives -->
    <script src="directives/userDirective.js"></script>
    <script src="directives/modalDirective.js"></script>

    <!-- Services -->
    <script src="services/wsservice.js"></script>
    <script src="services/wsapi.js"></script>
  	<script src="services/authserviceapi.js"></script>

    <!-- Factories -->

    <!-- Models -->
    <script src="models/abstractModel.js"></script>
    <script src="models/userModel.js"></script>
    <script src="models/userRepoModel.js"></script>
    <script src="models/documentRepoModel.js"></script>
    <script src="models/documentPageModel.js"></script>
    <script src="models/metadataModel.js"></script>
    <script src="models/txtModel.js"></script>
    <script src="models/pdfModel.js"></script>

    <!-- Controllers -->
    <script src="controllers/userController.js"></script>
    <script src="controllers/adminController.js"></script>
    <script src="controllers/documentController.js"></script>
    <script src="controllers/annotateController.js"></script>
    
    <!-- endbuild -->

	
	<!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
	<script>
		(function(b, o, i, l, e, r) {
			b.GoogleAnalyticsObject = l;
			b[l] || (b[l] = function() {
				(b[l].q = b[l].q || []).push(arguments)
			});
			b[l].l = +new Date;
			e = o.createElement(i);
			r = o.getElementsByTagName(i)[0];
			e.src = '//www.google-analytics.com/analytics.js';
			r.parentNode.insertBefore(e, r)
		}(window, document, 'script', 'ga'));
		ga('create', 'UA-XXXXX-X');
		ga('send', 'pageview');
	</script>

	
</body>
</html>
