<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" class="no-js"> <!--<![endif]-->
<head>
	<base href="/metadatatool/">

	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Metadata Tool :: Texas A&amp;M Libraries</title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="shortcut icon" href="resources/img/favicon.ico" type="image/x-icon" />

	<link rel="stylesheet" href="bower_components/html5-boilerplate/css/normalize.css">
	<link rel="stylesheet" href="bower_components/html5-boilerplate/css/main.css">
	
	<link rel="stylesheet" href="bower_components/ng-table/dist/ng-table.css">
	<link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">

	<link rel="stylesheet" href="resources/styles/app.css">
	<link rel="stylesheet" href="resources/styles/main.css">

	<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300' rel='stylesheet' type='text/css'>

	<script src="bower_components/html5-boilerplate/js/vendor/modernizr-2.6.2.min.js"></script>

</head>
<body>
	<!--[if lt IE 7]>
    	<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
	<![endif]-->

	<!-- Content placed here will appear on every page -->
	<main>
		<header class="container-fluid global-nav">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">					
						<nav class="global-nav pull-right hidden-xs">
							<ul class="nav global-nav pull-right hidden-xs">
					        	<li><a href="#">Hours</a></li>
					          	<li><a href="#">Libraries</a></li>
					          	<li><a href="#">Ask Us</a></li>
					        </ul>
						</nav>
					</div>
				</div>
			</div>
		</header>

		<header class="container-fluid site-title">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<h1 class="tamu-lib"><a href="home">Texas A&amp;M University Libraries</a></h1>
						<div class="site"><h3>Metadata Assignment Tool</h3></div>
					</div>
				</div>
			</div>
		</header>
		
		<div class="container-fluid">
			<div class="container">
				<div class="col-md-12 appContent">

				<nav class="pull-right userMenu">
					<ul class="list-inline">
						<li><span class="glyphicon glyphicon-user"></span> <a href="myview"><username></username></a></li>
					</ul>
				</nav>

				<div class="row" ng-controller="NavigationController">

					<div class="col-12 col-lg-12" ng-controller="AdminController">

						<div class="btn-group btn-group-lg app-menu" ng-class="{'btn-group-justified': windowWidth > 750, 'btn-group-vertical vertical-justified': windowWidth <= 750}" role="group">
							
							<a class="btn btn-default" href="documents" ng-class="{'active' : view == '/documents'}">Documents</a>
							
							<a ng-class="{'active' : view == '/assignments' || view.substring(0,9)=='/annotate'}" class="btn btn-default" href="assignments">My Assigned Documents</a>
							
							<a ng-if="isAssuming() == 'true' && (isAnnotator() || isUser())" class="btn btn-default" ng-click="assumeUser(assume)" >Unassume</a>
							
							<div ng-if="(isAdmin() || isManager()) == true" class="btn-group btn-group-lg" role="group">
								<button ng-class="{'active' : view == '/users'}" type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
									<span ng-show="isAdmin() == true">Admin </span>
									<span ng-show="isManager() == true">Manager </span>
									<span class="caret"></span>
								</button>
								<ul class="dropdown-menu" role="menu">
									<li ng-if="isAdmin() || isAssuming() == 'true'" role="presentation" class="dropdown-header">Manager Actions</li>
									<li><a href="users">Manage Users</a></li>
									<li>
										<a href data-toggle="modal" data-target="#exportMetadataModal">Export Metadata</a>
									</li>
									<li ng-if="isAdmin() || isAssuming() == 'true'" role="presentation" class="divider"></li>
									<li ng-if="isAdmin() || isAssuming() == 'true'" role="presentation" class="dropdown-header">Admin Actions header</li>
									<li ng-if="isAdmin() || isAssuming() == 'true'">
										<a href ng-if="isAssuming() == 'false'" data-toggle="modal" data-target="#assumeUserModal">{{assumedControl.button}} User</a>
										<a href ng-if="isAssuming() == 'true'" ng-click="assumeUser(assume)">{{assumedControl.button}} User</a>
									</li>
									<li><a ng-if="isAdmin()" ng-click="sync()" href="#">Sync Documents</a></li>
								</ul>
							</div>
							
						</div>

						<modal modal-id="assumeUserModal" 
							   modal-view="views/modals/assumeUserModal.html"
							   modal-header-class="modal-header-primary"></modal>

						<modal modal-id="exportMetadataModal" 
							   modal-controller="ExportController"
							   modal-view="views/modals/exportMetadataModal.html"
							   modal-header-class="modal-header-primary"></modal>
						
					</div>
				</div>
				
				<div ng-view class="view"></div>

				<footer>
					MetadataTool Version: <span app-version></span>
				</footer>

			</div>
		</div>
	</main>

	<footer class="container-fluid footer">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<ul class="inline-list">
						<li>© Texas A&amp;M University Libraries</li>
						<li>
							<a href="http://www.tamu.edu">Texas A&amp;M University</a>
						</li>
						<li>
							<a href="http://library.tamu.edu/about/employment/index.html">Employment</a>
						</li>
						<li>
							<a href="http://library.tamu.edu/services/forms/contact-info.html">Webmaster</a>
						</li>
						<li>
							<a href="http://library.tamu.edu/about/general-information/legal-notices.html">Legal</a>
						</li>
						<li>
							<a href="http://vrlplus.cb.docutek.com/tamu/vrleb_question_patron.asp?virtual_desk_id=1">Comments</a>
						</li>
						<li>
							<a href="tel:+1-979-845-5741">979-845-5741</a></li><a href="tel:+1-979-845-5741">
						</a>
						<li>
							<a href="tel:+1-979-845-5741"></a><a href="http://library.tamu.edu/accessibility/index.html">Accessibility</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</footer>


	<!-- In production use: <script src="//ajax.googleapis.com/ajax/libs/angularjs/x.x.x/angular.min.js"></script> -->

	
	<!-- Bower component -->
	<script src="bower_components/jquery/dist/jquery.js"></script>
	<script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
	
	<script src="bower_components/sockjs/sockjs.min.js"></script>
	<script src="bower_components/stomp-websocket/lib/stomp.min.js"></script>
		
	<script src="bower_components/angular/angular.js"></script>
	<script src="bower_components/angular-route/angular-route.js"></script>
	<script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
	<script src="bower_components/angular-loader/angular-loader.js"></script>
	<script src="bower_components/angular-mocks/angular-mocks.js"></script>
	
	<script src="bower_components/ng-table/dist/ng-table.min.js"></script>
	
	<script src="bower_components/ng-csv/build/ng-csv.min.js"></script>
	
	<script src="bower_components/angular-sanitize/angular-sanitize.min.js"></script>


	<!-- Configuration -->
    <script src="config/appConfig.js"></script>

	<!-- Modules -->
	<script src="components/version/version.js"></script>
	<script src="components/version/version-directive.js"></script>
	<script src="components/version/interpolate-filter.js"></script>
	
	
	<!-- build:js resources/scripts/vendor_concat.js -->
	<!--  Vendor libraries -->

	<!-- endbuild -->
	

	<!-- build:js resources/scripts/app_concat.js -->
	
	    <!-- Application Start -->
	    <script src="setup.js"></script>
	    <script src="app.js"></script>
	    <script src="config/logging.js"></script>
	    <script src="config/runTime.js"></script>
	    <script src="config/routes.js"></script>

	    <!-- Directives -->
	    <script src="directives/userDirective.js"></script>
	    <script src="directives/modalDirective.js"></script>
	    <script src="directives/formDirective.js"></script>

	    <!-- Services -->
	    <script src="services/wsservice.js"></script>
	    <script src="services/wsapi.js"></script>
	    <script src="services/restapi.js"></script>
	  	<script src="services/authserviceapi.js"></script>
	  	<script src="services/storageservice.js"></script>

	    <!-- Factories -->

	    <!-- Models -->
	    <script src="models/abstractModel.js"></script>
	    <script src="models/userModel.js"></script>
	    <script src="models/assumedControlModel.js"></script>
	    <script src="models/userRepoModel.js"></script>
	    <script src="models/documentRepoModel.js"></script>
	    <script src="models/documentPageModel.js"></script>
	    <script src="models/metadataModel.js"></script>
	    <script src="models/exportModel.js"></script>
	    <script src="models/controlledVocabularyModel.js"></script>

	    <!-- Controllers -->
	    <script src="controllers/userController.js"></script>
	    <script src="controllers/userRepoController.js"></script>
	    <script src="controllers/adminController.js"></script>
	    <script src="controllers/documentController.js"></script>
	    <script src="controllers/exportController.js"></script>
	    <script src="controllers/annotateController.js"></script>
	    <script src="controllers/navigationController.js"></script>
	    <script src="controllers/abstractController.js"></script>
    
    <!-- endbuild -->

	
	<!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
	<script>
		(function(b, o, i, l, e, r) {
			b.GoogleAnalyticsObject = l;
			b[l] || (b[l] = function() {
				(b[l].q = b[l].q || []).push(arguments)
			});
			b[l].l = +new Date;
			e = o.createElement(i);
			r = o.getElementsByTagName(i)[0];
			e.src = '//www.google-analytics.com/analytics.js';
			r.parentNode.insertBefore(e, r)
		}(window, document, 'script', 'ga'));
		ga('create', 'UA-XXXXX-X');
		ga('send', 'pageview');
	</script>

	
</body>
</html>
