$primary: #500000;
$secondary: #3c0000;
$baseFontSize: 14pt;
$linkColor: #337ab7;

@import "node_modules/@wvr/core/app/resources/styles/sass/main";
@import "node_modules/@wvr/core/app/resources/styles/sass/theme-base";

main {
  display: block;
  height: auto;
  min-height: 100%;
  margin-bottom: -50px;
}

main footer {
  display: block;
  margin-bottom: 75px;
}

.appContent {
  padding-top: 15px;
}

.userMenu {
  margin-bottom: 15px;

  div.dropdown ul.dropdown-menu {
    left: auto;
    right: 0;
  }
}

.toggle-href {
  cursor: pointer;
}

.documents-container div h3 {
  margin-top: 0;
}

.metadata-container h3 {
  margin-top: 0;
}
@media only screen and (max-width: 1200px) {
  .metadata-container h3 {
    margin-top: 15px;
  }
}

.tab-pane, .tab-pane .viewer-wrapper {
  width: 100%;
  height: 675px;
}

.viewer-wrapper {
  padding: 8px;
}


.tab-pane.hide {
  display: none;
}

.loading-pane {
  z-index: -10;
  position: absolute;
  margin: auto;
  width: 100%;
  height: 700px;
  line-height: 600px;
  text-align: center;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.loading-pane.show {
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}

.tab-pane object {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.notesWarning {
  margin-top: 15px;
  padding: 15px;
}

.notesText {
  font-weight: bold;
}

.documents-pane {
  height: 800px;
  border-radius: 5px;
  padding: 5px 10px 0;
  border: 1px solid lightgray;
}

.metadata-pane {
  height: 800px;
  overflow-y: auto;
  position: relative;
  margin-bottom: 25px;
  border-radius: 5px;
  padding: 0 25px 25px;
  border: 1px solid lightgray;
}

.metadata-pane label {
  font-size: 16px;
  margin: 10px 0;
  font-family: inherit;
  font-weight: bold;
  line-height: 1;
  white-space: nowrap;
}

.metadata-input {
  margin-bottom: 15px;
}

.metadata-input .input-group-addon.glyphicon {
  top: 0;
}

.label-add {
  color: #4A5C81;
  font-size: 16px;
  margin-left: 10px;
}

.label-add:hover {
  cursor: pointer;
}

.label-remove {
  color: #CD7674;
}

.label-remove:hover {
  cursor: pointer;
}

.ng-table th.sortable.sort-asc,
.ng-table th.sortable.sort-desc {
  background-color: #4A5C81;
}

.ng-table th.sortable.sort-asc,
.ng-table th.sortable.sort-desc {
  color: #fff;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.75);
}

.pagination > .active > a,
.pagination > .active > a:focus,
.pagination > .active > a:hover,
.pagination > .active > span,
.pagination > .active > span:focus,
.pagination > .active > span:hover {
  z-index: 2;
  color: #fff;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.75);
  cursor: pointer;
  background-color: #4A5C81;
  border-color: #1D3362;
}

.vertical-justified {
  width: 100%;
  min-width: 360px;
}

.documents-container {
  min-width: 400px;
}

.users-container {
  min-width: 650px;
}

.requiredField {
  color: #500000;
}

.requiredField:before {
  content: "*";
  color: #500000;
  margin: 0 5px;
}

.centerProgress {
  top: 25%;
  left: 45%;
}

.tabbed {
  margin-left: 15px;
}

.alert-wrapper {
  word-wrap: break-word;
}

.suggestions-expand {
  margin-bottom: 15px;
  font-size: 18px;
  font-weight: 400;
}

.suggestions-section {
  -webkit-transition: max-height 0.35s ease-in-out, opacity 0.35s ease-in-out;
  -moz-transition: max-height 0.35s ease-in-out, opacity 0.35s ease-in-out;
  -o-transition: max-height 0.35s ease-in-out, opacity 0.35s ease-in-out;
  transition: max-height 0.35s ease-in-out, opacity 0.35s ease-in-out;
  overflow: scroll;
}

.suggestions-closed {
  opacity: 0;
  max-height: 0;
}

.suggestions-open {
  opacity: 1;
  max-height: 500px;
}

.suggestion-popup {
  z-index: 999;
}

#pleaseWaitDialog .loading-text {
  border: 1px solid #ccc;
  background-color: #fff;
  border-radius: 4px;
  padding: 6px;
  max-width: 200px;
  opacity: 0.8;
}

.list-group-item-click {
  cursor: pointer;
}

#fieldProfileList {
  height: 600px;
  overflow-y:auto;
}

.panel-document-publishing {
  .panel-body {
    min-height: 64px;
  }
}

.panel-document-publishing.publishing-log {
  .panel-body {
    .log-items {
      max-height: 100px;
      overflow-y: auto;
      vertical-align: super;

      margin: 0px 0px 0px 0px;
      padding-left: 0px;

      .alert-warning,
      .alert-danger {
        font-weight: bold;
      }

      .log-item {
        clear: both;

        list-style-type: none;

        padding: 2px 2px 2px 4px;
        margin: 3px 2px;

        .item-date {
          float: right;
          margin: 0px 10px;
        }
      }

      .log-item:first-of-type {
        margin-top: 0px;
      }

      .log-item:last-of-type {
        margin-bottom: 0px;
      }
    }
  }
}

.openseadragon-container {
  min-height: 675px;
}

content-viewer {
  .viewer-wrapper {
    .image-wrapper {
      height: 100%;
      width: 100%;
      overflow: auto;
    }
  }
}
