main {
  height: auto;
  min-height: 100%;
  margin-bottom: -50px;

}

main footer {
  display: block;
  margin-bottom: 75px;
}

.app-menu a {
  color: inherit;
  text-decoration: none !important;
}

.tab-pane .well { 
  min-height: 600px
}
