<div class="modal-header {{attr.modalHeaderClass}}">
  <button type="button" class="close modal-close" aria-label="Close" ng-click="closeModal()"><span aria-hidden="true">&times;</span></button>
  <h4 class="modal-title">New Authority</h4>
</div>
<div class="modal-body">
  <form name="addAuthority" novalidate>
    <div class="form-group">
      <label>Name</label>
      <input class="form-control" type="text" name="name" ng-model="newAuthority.name" />
    </div>
    <div class="form-group">
      <label>Type</label>
      <select class="form-control" ng-model="newAuthority.type" ng-options="typeKey as typeKey for (typeKey,settingKeys) in types"></select>
    </div>
    <label>Settings</label>
    <ul class="list-group" ng-show="newAuthority.type">
      <li class="list-group-item" ng-repeat="settingKey in types[newAuthority.type] track by $index">
        <label>{{settingKey}}</label>
        <input class="form-control" type="{{settingKey == 'password' ? 'password':'text'}}" name="settingValue" ng-model="newAuthoritySettings[settingKey].value" />
      </li>
    </ul>
  </form>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-default" ng-click="closeModal()">Cancel</button>
  <button type="button" class="btn btn-success" ng-click="create(newAuthority,newAuthoritySettings)" >Create</button>
</div>
