<div class="modal-header">
	<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	<h4 class="modal-title">Assume User</h4>
</div>

<form>
	<div class="modal-body">
		<input type="netid" class="form-control" id="netid" placeholder="Enter netid" ng-model="assumedUser.netid" ng-pattern="word" ng-trim="false" />

		<p>{{assumedUser.status}}</p>
	</div>
	<div class="modal-footer">
		<button  ng-hide="isAssuming() == 'true'" type="submit" class="btn btn-primary" ng-click="assumeUser(assumedUser)">{{assumedUser.button}}</button>
		<img class="modalLoadingWheel" ng-hide="isAssuming() == 'false'" src="resources/img/ajax-loader.gif"/>
		<button type="button" class="btn btn-default" data-dismiss="modal">cancel</button>
	</div>
<form>