<div class="modal-header">
	<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	<h4 class="modal-title">Assume User</h4>
</div>
<div class="modal-body">
	<input type="netid" class="form-control" id="netid" placeholder="Enter netid" ng-model="assume.netid" ng-pattern="word" ng-trim="false" />

	<p>{{assumeStatus}}</p>
</div>
<div class="modal-footer">
	<button type="submit" class="btn btn-primary" ng-click="assumeUser(assume);">{{assumeBtn}}</button>
	<button type="button" class="btn btn-default" data-dismiss="modal">cancel</button>
</div>
