<div class="modal-header {{attr.modalHeaderClass}}">
  <button type="button" class="close modal-close" aria-label="Close" ng-click="closeModal()"><span aria-hidden="true">&times;</span></button>
  <h4 class="modal-title">Edit {{suggestor.name}} Suggestor</h4>
</div>
<div class="modal-body">
  <form name="editSuggestor" novalidate>
    <div class="form-group">
      <label>Name</label>
      <input class="form-control" type="text" name="name" ng-model="suggestor.name" />
    </div>
    <div class="form-group">
      <label>Type</label>
      <input class="form-control" readonly value="{{suggestor.type}}" />
      <!--<select class="form-control" ng-model="suggestor.type" ng-options="type for type in types"></select>-->
    </div>
    <label>Settings</label>
    <ul class="list-group">
    <li class="list-group-item" ng-repeat="setting in suggestor.settings track by $index">
      <label>{{setting.key}}</label>
      <input class="form-control" ng-repeat="value in setting.values track by $index" type="{{setting.key == 'password' ? 'password':'text'}}" name="name" ng-model="suggestor.settings[$parent.$index].values[$index]" />
    </li>
  </ul>
  </form>

</div>
<div class="modal-footer">
  <button type="button" class="btn btn-default" ng-click="closeModal()">Cancel</button>
  <button type="button" class="btn btn-success" ng-click="update(suggestor)" >Update</button>
</div>
