<div class="modal-header {{attr.modalHeaderClass}}">
  <button type="button" class="close modal-close" aria-label="Close" ng-click="closeModal()"><span aria-hidden="true">&times;</span></button>
  <h4 class="modal-title">Edit {{repository.name}} Repository</h4>
</div>
<div class="modal-body">
  <form name="editRepository" novalidate>
    <div class="form-group">
      <label>Name</label>
      <input type="text" name="name" ng-model="repository.name" />
    </div>
    <div class="form-group">
      <label>Type</label>
      <select ng-model="repository.type" ng-options="type for type in types"></select>
    </div>
  </form>
  <ul>
    <li ng-repeat="setting in repository.settings track by $index">{{setting.key}}:
      <span ng-repeat="value in setting.values">{{value}}</span>
      <input ng-repeat="value in setting.values track by $index" type="text" name="name" ng-model="repository.settings[$parent.$index].values[$index]" />
    </li>
  </ul>
</div>
<div class="modal-footer">
	<button type="button" class="btn btn-default" ng-click="closeModal()">Cancel</button>
	<button type="button" class="btn btn-success" ng-click="update(repository)" >Update</button>
</div>
