<div class="modal-header {{attr.modalHeaderClass}}">
  <button type="button" class="close modal-close" aria-label="Close" ng-click="closeModal()"><span aria-hidden="true">&times;</span></button>
  <h4 class="modal-title">Edit {{authority.name}} Authority</h4>
</div>
<div class="modal-body">
  <form name="editAuthority" novalidate>
    <div class="form-group">
      <label>Name</label>
      <input class="form-control" type="text" name="name" ng-model="authority.name" />
    </div>
    <div class="form-group">
      <label>Type</label>
      <input class="form-control" readonly value="{{authority.type}}" />
    </div>
    <label>Settings</label>
    <ul class="list-group">
    <li class="list-group-item" ng-repeat="setting in authority.settings track by $index">
      <label>{{setting.key}}</label>
      <input class="form-control" ng-repeat="value in setting.values track by $index" type="{{setting.protect ? 'password':'text'}}" name="name" ng-model="authority.settings[$parent.$index].values[$index]" ng-readonly="(authority.type == 'CSV' && setting.key == 'paths')"  ng-attr-placeholder="{{setting.protect ? 'Type here to update protected value':''}}"/>
      <div ng-if="authority.type != 'CSV'"><input type="checkbox" name="protect" value="true" ng-model="setting.protect" /> Protect value?</div>
    </li>
  </ul>
  </form>

</div>
<div class="modal-footer">
  <button type="button" class="btn btn-default" ng-click="closeModal()">Cancel</button>
  <button type="button" class="btn btn-success" ng-click="update(authority)" >Update</button>
</div>
