<div class="modal-header {{attr.modalHeaderClass}}">
    <button type="button" class="close modal-close" aria-label="Close" ng-click="closeModal()"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title">Export Metadata</h4>
</div>

<form name="exportModalForm">
    <div class="modal-body">
        <div class="form-group">
            <label>Project</label>
            <select ng-options="project.name for project in projects" ng-model="project" class="form-control"></select>
        </div>
        <div class="form-group">
            <label>Format</label>
            <select ng-options="format for format in formats" ng-model="format" class="form-control"></select>
        </div>
    </div>
    <div class="modal-footer">
        <button ng-show="format === 'dsapce-saf' && project.locked" type="submit" class="btn btn-default" ng-click="unlock(project.name)">Unlock</button>
        <button ng-disabled="isExporting || (format === 'dsapce-saf' && project.locked)" ng-hide="format === 'dspace-csv' || format === 'spotlight-csv'" type="submit" class="btn btn-default" ng-click="export(project.name, format)">{{isExporting ? 'Exporting...':'Export'}}</button>
        <button ng-disabled="isExporting" ng-show="format === 'dspace-csv' || format === 'spotlight-csv'" type="submit" class="btn btn-default" data-dismiss="modal" ng-csv="export(project.name, format)" csv-header='headers' filename="metadata.csv">{{isExporting ? 'Exporting...':'Export'}}</button>
        <button type="button" class="btn btn-default" ng-click="exportModalForm.$setPristine(); closeModal();">{{exportModalForm.$submitted ? 'Done' : 'Cancel'}}</button>
    </div>
</form>
