<br/>
<div class="row" ng-controller="AnnotateController">

    <!-- ADMINS, MANAGERS AND ANNOTATORS ONLY -->
    <div ng-if="isUser()" class="row" ng-include src="'views/restrictedAccess.html'" ></div>

    <div ng-if="document.publishedLocations.length > 0" class="panel panel-success">
        <div class="panel-heading">This document is published at:</div>
        <div class="panel-body">
            <ul class="list-unstyled">
            <li ng-repeat="publishedLocation in document.publishedLocations">
              <span><b>{{publishedLocation.repository.name}}</b>: <a target="_blank" href="{{publishedLocation.url}}">{{publishedLocation.url}}</a></span>
            </li>
          </ul>
        </div>
    </div>

    <div ng-if="action === 'view' && document.status === 'Accepted' && document.getProject().repositories.length > 0" class="panel panel-warning">
        <div class="panel-heading">This document is accepted but not published.</div>
        <div class="panel-body">
            <button class="btn btn-success" ng-click="push()">Publish</button>
        </div>
    </div>

    <div id="pleaseWaitDialog" class="modal fade centerProgress" role="dialog">
        <img src="resources/images/loading.gif" height="200" width="200"/>
        <div class="loading-text">{{loadingText}}</div>
    </div>

    <div ng-if="isAdmin() || isManager() || isAnnotator()" class="row">

        <div class="notesWarning bg-warning" ng-if="document.notes">Rejection notes: <span class="notesText">{{document.notes}}</span></div>

        <div class="col-lg-8 documents-container">

            <div role="tabpanel">
                <h3>Documents</h3>
                <div class="documents-pane">
	                <ul class="nav nav-tabs" role="tablist">
	                    <li role="presentation" ng-if="hasFileType('text')" ng-class="{'active': active === 'text'}"><a href="#txtTab" aria-controls="txtTab" role="tab" data-toggle="tab" ng-click="select('text')">Text</a></li>
	                    <li role="presentation" ng-if="hasFileType('pdf')" ng-class="{'active': active === 'pdf'}"><a href="#pdfTab" aria-controls="pdfTab" role="tab" data-toggle="tab" ng-click="select('pdf')">PDF</a></li>
	                    <li role="presentation" ng-if="hasFileType('image')" ng-class="{'active': active === 'image'}"><a href="#imageTab" aria-controls="imageTab" role="tab" data-toggle="tab" ng-click="select('image')">Images</a></li>
	                </ul>

	                <div class="tab-content">

	                	<nav aria-label="...">
						  <ul class="pager">
						    <li class="previous" ng-if="getFiles().length > 1" ng-class="{ 'disabled': selected() === 0}"><a class="toggle-href" ng-click="previous()">Previous</a></li>
						    <li class="title">{{getFiles()[selected()].name}}</li>
						    <li class="next" ng-if="getFiles().length > 1" ng-class="{ 'disabled': selected() === getFiles().length-1}"><a class="toggle-href" ng-click="next()">Next</a></li>
						  </ul>
						</nav>

						<span class="loading-pane" ng-class="{'show': loading}">
							<img src="resources/images/loading.gif" height="100" width="100"/>
						</span>

	                    <div role="tabpanel" class="tab-pane" ng-class="{'active': active === 'text', 'hide': switching}" id="txtTab" ng-if="hasFileType('text')">
	                        <object data="{{getFiles()[selected()].url}}" type="{{getFiles()[selected()].mimeType}}"></object>
	                    </div>

	                    <div role="tabpanel" class="tab-pane" ng-class="{'active': active === 'pdf', 'hide': switching}" id="pdfTab" ng-if="hasFileType('pdf')">
	                        <div class="text-right">
	                            <a title="Open PDF in a new window/tab" target="_blank" href="{{getFiles()[selected()].url}}"><span class="glyphicon glyphicon-new-window"></span></a>
	                        </div>
	                        <object id="pdf" data="{{getFiles()[selected()].url}}" frameborder="0"></object>
	                    </div>

	                    <div role="tabpanel" class="tab-pane" ng-class="{'active': active === 'image', 'hide': switching}" id="imageTab" ng-if="hasFileType('image')">
	                        <object data="{{getFiles()[selected()].url}}" type="{{getFiles()[selected()].mimeType}}"></object>
	                    </div>

	                </div>
                </div>
            </div>
        </div>

        <div ng-if="action === 'annotate' || action === 'review'" class="col-lg-4 metadata-container">
            <h3>Metadata</h3>
            <form name="metadataForm" novalidate>
                <span ng-show="requiredFieldsPresent()" class="requiredField">required flield</span>
                <div class="metadata-pane">
                    <metadatainput ng-repeat="field in document.fields | orderBy:['-label.profile.required', 'label.profile.gloss']" class="row" ng-hide="field.label.profile.hidden"></metadatainput>
                </div>
                <div class="row">
                    <div ng-if="isAnnotator() || (isManager() && managerAnnotating())" style="float: right;">
                        <button type="button" class="btn btn-warning" ng-click="requiresCuration()">Requires Curation</button>
                        <button type="button" class="btn btn-primary" ng-click="save(document)">Save</button>
                        <button type="button" ng-disabled="metadataForm.$invalid" class="btn btn-success" ng-click="submit()">Submit</button>
                    </div>
                    <div ng-if="isAdmin() || (isManager() && managerReviewing())" style="float: right;">
                        <button type="button" class="btn btn-warning" ng-click="requiresCuration()">Requires Curation</button>
                        <button type="button" class="btn btn-primary" ng-click="save()">Save</button>
                        <span ng-if="document.status === 'Annotated'" >
                            <modal modal-id="rejectModal"
                                   modal-view="views/modals/rejectModal.html"
                                   modal-btn-classes="btn btn-danger"
                                   modal-header-class="modal-header-danger">
                                   Reject
                            </modal>
                        </span>
                        <button type="button" ng-disabled="metadataForm.$invalid" class="btn btn-success" ng-click="accept()" >Accept</button>
                    </div>
                </div>
            </form>
        </div>

        <div ng-if="action === 'view'" class="col-lg-4 metadata-container">
            <h3>Metadata</h3>
            <div class="metadata-pane">
                <div ng-repeat="field in document.fields | orderBy:['-label.profile.required', 'label.profile.gloss']" class="row">
                    <label>{{field.label.profile.gloss}}</label>
                    <ul class="list-unstyled">
                        <li ng-if="field.label.profile.repeatable" >
                            <ol>
                                <li ng-repeat="fieldValue in field.values">
                                    <span>{{field.values[$index].value}}</span>
                                </li>
                            </ol>
                        </li>
                        <li ng-if="!field.label.profile.repeatable">
                            <div class="tabbed">{{field.values[0].value}}</div>
                        </li>
                    </ul>
                    <hr>
                </div>
            </div>
        </div>
    </div>
</div>
