<div class="row" ng-controller="AnnotateController"> 
	
	<div class="notesWarning bg-warning" ng-if="document.notes">Rejection notes: <span class="notesText">{{document.notes}}</span></div>
	
	<div class="col-8 col-lg-8 document-pane">	
		<div role="tabpanel" class="span6">
			<h2>Document</h2>
			<ul class="nav nav-tabs" role="tablist">
				<li role="presentation" class="active"><a href="#txtTab" aria-controls="txtTab" role="tab" data-toggle="tab">Text</a></li>
				<li role="presentation"><a href="#pdfTab" aria-controls="pdfTab" role="tab" data-toggle="tab">PDF</a></li>
			</ul>
			<div class="tab-content">
				<div role="tabpanel" class="tab-pane active" id="txtTab">	
					<div class="well">{{txt.verbage}}</div>
				</div>
				<div role="tabpanel" class="tab-pane" id="pdfTab">
					<object data="{{pdf.uri}}" type="application/pdf" width="100%" height="600"></object>
				</div>
			</div>
		</div>
	</div>
	
	<div>
		<h2>Metadata</h2>
		<div class="col-4 col-lg-4 metadata-pane">

			<div ng-repeat="metadataLabel in document.metadataLabels" class="row">			
				<h3 style="display:inline-block;">{{metadataLabel.gloss}}</h3>

				<span title="Add metadata field" ng-if="metadataLabel.repeatable" ng-click="addMetadataField(metadataLabel.label)" class="glyphicon glyphicon-plus-sign label-add" style="text-decoration: none;"></span>
				<span title="Remove metadata field" ng-if="getMetadataFieldCount(metadataLabel.label) > 1 && metadataLabel.repeatable" ng-click="removeMetadataField(metadataLabel.label)" class="glyphicon glyphicon-minus-sign label-remove" style="text-decoration: none;"></span>

				<ul class="list-unstyled">

					<li ng-if="metadataLabel.repeatable" ng-repeat="metadataField in document.metadata[metadataLabel.label] track by $index">
					
						<div class="input-group metadata-label" ng-if="metadataLabel.inputType == 'TEXT'">
						  	<span class="input-group-addon" id="basic-addon{{$index+1}}">{{$index+1}}</span>
						  	<input  class="form-control" type="text" ng-model="document.metadata[metadataLabel.label][$index]"/>
						</div>

						<div class="input-group metadata-label" ng-if="metadataLabel.inputType == 'TEXTAREA'">
							<span class="input-group-addon" id="basic-addon{{$index+1}}">{{$index+1}}</span>
						  	<textarea  class="form-control" ng-model="document.metadata[metadataLabel.label][$index]" rows="5" cols="25" style="width:100%;"></textarea>
						</div>
						
					</li>
					
					<li ng-if="!metadataLabel.repeatable">
						<input  class="form-control" ng-if="metadataLabel.inputType == 'TEXT'" type="text" ng-model="document.metadata[metadataLabel.label][0]"/>
						<textarea class="form-control" ng-if="metadataLabel.inputType == 'TEXTAREA'" ng-model="document.metadata[metadataLabel.label][0]" rows="5" cols="25" style="width:100%;"></textarea>
					</li>
					
				</ul>	
				
			</div>
		</div>
		<div class="row">			
			<div ng-if="isAnnotator() || (isManager() && managerAnnotating())" style="float: right;">
				<button class="btn btn-warning" ng-click="requiresCuration(document.name)">
					Requires Curation
				</button>
				<button class="btn btn-primary" ng-click="updateMetadata(document, 'Pending')">
					Save
				</button>
				<button class="btn btn-success" ng-click="submit(document)">
					Submit
				</button>
			</div>
			<div ng-if="isAdmin() || (isManager() && managerReviewing())" style="float: right;">
				<button class="btn btn-warning" ng-click="requiresCuration(document.name)">
					Requires Curation
				</button>

				<modal modal-id="rejectModal" 
					   modal-view="views/modals/rejectModal.html" 
					   modal-btn-classes="btn btn-danger"
					   modal-header-class="modal-header-danger">Reject</modal>
					   
				<button class="btn btn-success" ng-click="accept(document)">
					Accept
				</button>
			</div>
		</div>

	</div>

</div>