<br/>
<div class="row">
	<div class="col-9 col-lg-9">
		<div class="panel panel-default " ng-controller="DocumentController">			
			<div class="panel-heading">
				<h3 class="panel-title">My Assigned Documents</h3>
			</div>
			<div class="panel-body">
				<table class="table table-hover table-condensed">
					<thead>
						<tr>
							<th>FileName</th>
							<th class="text-center">Status</th>
							<th class="text-center">Action</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="doc in filteredDocuments = (documents.list | filter:{annotator:user.uin, status:'!Complete'} | orderBy:row)">
							<td>{{doc.filename}}</td>
							<td class="text-center">{{doc.status}}</td>
							<td class="text-center">
								<a href="annotate/{{doc.filename}}" class="btn btn-default">Annotate</a>
							</td>
						</tr>
					</tbody>
				</table>
				You have {{filteredDocuments.length}} assigned documents.
			</div>
		</div>
	</div>
</div>
