<br/>
<div class="row" ng-controller="DocumentController">

    <!-- ADMINS, MANAGERS AND ANNOTATORS ONLY -->
    <div ng-if="isUser()" class="row" ng-include src="'views/restrictedAccess.html'" ></div>

    <div ng-if="!isUser()" class="col-12">

        <div class="panel panel-default documents-container">

            <div class="panel-heading">
                <h3 class="panel-title">Documents</h3>
            </div>

            <div class="panel-body" ng-if="isAnnotator()">
                <table ng-table="tableParams" class="table table-hover table-condensed">
                    <tbody>
                        <tr ng-repeat="doc in $data">
                            <td data-title="'Filename'" sortable="'name'">
                                {{doc.name}}
                            </td>
                            <td data-title="'Status'" sortable="'status'" filter="{ 'status': 'text' }" class="text-center">
                                <span ng-if="doc.status != 'Published'">{{doc.status}}</span>
                                <a href="{{doc.publishedUriString}}" target="_blank" ng-if="doc.status == 'Published'">{{doc.status}}</a>
                            </td>
                            <td data-title="'Annotator'" sortable="'annotator'" class="text-center">
                                <span ng-if="!doc.annotator">
                                    <button class="btn btn-default" ng-click="update(doc, 'Assigned')">
                                        Claim
                                    </button>
                                </span>
                                <span ng-if="doc.annotator">
                                    {{doc.annotator}}
                                </span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="panel-body " ng-if="isAdmin() || isManager()">

                <button ng-click="tableParams.sorting({})" class="btn btn-default">Clear sorting</button>&nbsp;&nbsp;
                <button ng-click="tableParams.filter({})" class="btn btn-default">Clear filter</button>&nbsp;&nbsp;
                <label class="checkbox-inline"><input type="checkbox" value="" ng-model="showPublished" ng-change="togglePublished()">Show Published</label><br/><br/>
                <div ng-if="projects.length > 0">
                    <span ng-class="{'glyphicon-minus-sign': showProjectsFilter}" ng-click="toggleProjectsFilter()" id="projectsFilter" class="glyphicon glyphicon-plus-sign label-add" />&nbsp;
                    <label id="projectsFilterLabel" for="projectsFilter">Filter By Projects<span ng-show="tableParams.filter().projects.length > 0"> ({{tableParams.filter().projects.length}})</span></label>
                    <select ng-show="showProjectsFilter" multiple id="projectsFilter" name="projectsFilter" class="form-control" aria-describedby="projectsFilterLabel" ng-model="tableParams.filter().projects"
                        ng-options="project.id as project.name for project in projects">
                    </select>&nbsp;&nbsp;
                </div>
                <table ng-table="tableParams" show-filter="true" class="table table-hover table-condensed">
                    <tbody>
                        <tr ng-repeat="doc in $data">
                            <td data-title="'Filename'" sortable="'name'" filter="{ 'name': 'text' }">
                                {{doc.name}}
                            </td>
                            <td data-title="'Status'" sortable="'status'" filter="{ 'status': 'text' }" class="text-center">
                                {{doc.status}}
                            </td>
                            <td data-title="'Annotator'" sortable="'annotator'" filter="{ 'annotator': 'text' }" class="text-center">
                                <span ng-if="doc.status != 'Accepted' && !doc.annotator && availableAnnotators().length > 0">
                                    <select ng-model="doc.annotator" ng-change="update(doc, 'Assigned')" class="form-control">
                                        <option ng-repeat="annotator in availableAnnotators()" value="{{annotator.firstName}} {{annotator.lastName}} ({{annotator.uin}})">{{annotator.firstName}} {{annotator.lastName}}</option>
                                    </select>
                                </span>
                                <span ng-if="doc.status != 'Accepted' && !doc.annotator && availableAnnotators().length == 0">
                                    No Annotators
                                </span>
                                <span ng-if="doc.annotator">
                                    {{doc.annotator}}
                                </span>
                            </td>
                            <td data-title="'Action'" class="text-center">
                                <a ng-if="doc.status == 'Annotated'" href="annotate/{{doc.project}}/{{doc.name}}/review" class="btn btn-default">Review</a>
                                <a ng-if="doc.status == 'Accepted' || doc.status == 'Pending' || doc.status == 'Published'" href="annotate/{{doc.project}}/{{doc.name}}/view" class="btn btn-default">View</a>
                                <a ng-if="doc.status == 'Requires Curation'" href class="btn btn-default" ng-click="update(doc, 'Assigned')">Resume Annotation</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </div>

    </div>
</div>
