<br/>
<div class="row" ng-controller="ProjectController">

    <!-- ADMINS AND MANAGERS ONLY -->
    <div ng-if="!isManager() && !isAdmin()" class="row" ng-include src="'views/restrictedAccess.html'" ></div>

    <div ng-if="isManager() || isAdmin()" class="col-12">
        <div class="panel panel-default users-container">
            <div class="panel-heading">
                <h3 class="panel-title">Projects</h3>
            </div>
            <div class="panel-body">
                <modal wvr-modal-backdrop="true" class="pull-right" modal-id="{{repository.id}}AddProjectModal"
                       modal-view="views/modals/addProjectModal.html"
                       modal-btn-classes="btn btn-primary"
                       modal-controller="ProjectController"
                       modal-header-class="modal-header-primary">
                       Add
                </modal>
                <table class="table table-hover table-condensed">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Type</th>
                            <th>Edit</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="project in projects track by project.id">
                            <td>{{project.name}}</td>
                            <td>{{project.ingestType}}</td>
                            <td>
                                <modal wvr-modal-backdrop="true" modal-id="{{project.id}}EditProjectModal"
                                       modal-view="views/modals/editProjectModal.html"
                                       modal-btn-classes="btn btn-primary"
                                       modal-controller="ProjectController"
                                       modal-header-class="modal-header-primary">
                                       Edit
                                </modal>
                                <modal wvr-modal-backdrop="true" modal-id="{{project.id}}ManageFieldProfiles"
                                       modal-fullscreen="true"
                                       modal-view="views/modals/projectFieldProfiles.html"
                                       modal-btn-classes="btn btn-primary"
                                       modal-controller="ProjectController"
                                       modal-header-class="modal-header-primary">
                                       Field Profiles
                                </modal>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>
